<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCBT</title>
</head>
<body>
    <div>
        <h2>Total Credit Card Balance:</h2>
    </div>
    <div>
        <h5>Bank:</h5>
        <h5>Card:</h5>
        <h5>Type:</h5>
        <h5>Balance $:</h5>
        <h5>Long Term APR %:</h5>
        <h5>Temp APR %:</h5>
        <h5>Temp APR end date:</h5>
        <h5>Balance Transfer APR %:</h5>
        <h5>Balance Transfer Amount Available $:</h5>

    </div>
</body>
</html>