.index-main{
    display: flex;

}
.index-accts{
    margin: 0 3vw;
}
.act-snap-tit{
    text-align: center;
}
.btn{
    background-color: rgb(15, 206, 79);
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.index-span{
    color: green;
}