.index-main{
    display: flex;

}
.index-accts{
    margin: 0 3vw;
}

.btn{
    background-color: rgb(15, 206, 79);
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.index-span{
    color: green;
    font-size: 1.2em;
}
.main-title{
    
    
}
.index-header{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.index-balance{
    background-color: gold;
    width: fit-content;
    text-align: center;
    position: relative;
    padding: 10px;
    border-radius: 8%;
    box-shadow: green 5px 5px 5px;
}