.show-accts{
    margin: 8vh 3vw;
    text-align: center;
}

.btn{
    background-color: rgb(15, 206, 79);
    color: white;
    padding: 5px;
    border-radius: 3px;
}
#show-btn-del{
    margin-top:1.2em;
}